@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #283618;
  --secondary-color: #DDA15E;
  --accent1-color: #606C38;
  --accent2-color: #FEFAE0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
  color: var(--primary-color);
}

nav a{
  text-decoration: none;
}