@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #283618;
  --secondary-color: #DDA15E;
  --accent1-color: #606C38;
  --accent2-color: #FEFAE0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

header {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: var(--accent1-color);
}

header nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header nav a {
  color: var(--accent2-color);
  text-decoration: none;
  padding: 10px 20px;
  border: solid var(--secondary-color);
  text-align: center;
}

.hero {
  position: relative;
  text-align: center;
  color: var(--accent2-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  background-color: var(--primary-color);
  top: 50px;
  left: 50%;
}



.hero article {
  position: absolute;
  padding: 20px;
  top: 200px;
  
}

.hero div {
  position: relative;
}

.hero article img {
  float: right;
  height: 100px;
  width: auto;
  margin: 0 0 10px 10px;
}

section {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.sociallinks img {
  width: 50px;
  height: auto;
}