@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #283618;
  --secondary-color: #DDA15E;
  --accent1-color: #606C38;
  --accent2-color: #FEFAE0;
  --bg-color: #283618d6;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #191b1c;
}

figcaption {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

header {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: var(--accent1-color);
}

header nav {
  width: auto;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header img {
  height: 200px;
  width: auto;
}

header nav a {
  color: var(--accent2-color);
  text-decoration: none;
  padding: 10px 100px;
  border: solid var(--secondary-color);
  text-align: center;
}

p {
  color: white;
}

.hero {
  position: relative;
  text-align: center;
  color: var(--accent2-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  background-color: var(--bg-color);
  top: 0px;
  left: 30%;
  padding: 30px;
  font-size: 100px;
}

.hero article {
  position: absolute;
  padding: 20px;
  top: 300px;
  background-color: var(--bg-color);
}

.hero div {
  position: relative;
}

.hero article img {
  float: right;
  height: 200px;
  width: auto;
  margin: 20px;
}

section {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.sociallinks img {
  width: 50px;
  height: auto;
  align-self: end;
}

.profileimages {
  display: flex;
}

.profileimages figure img {
  display: grid;
  height: 300px;
  width: auto;
  margin: 20px;
}

form,
label,
input,
select,
textarea,
button {
  margin: 15px;
  width: 1000px;
  font-size: 2ch;
}

label {
  color: white;
}

.forum {
  display: grid;
  align-content: center;
  justify-content: center;
  border: 5px solid cyan;
  border-radius: 5px;
  margin: 100px;
  padding: 50px;
}

.forum div div{
  display:flex;
  justify-content: left;
  align-items: left;
}

iframe {
  margin: auto;
  top: 50px;
  bottom: 100px;
}

.contact {
  display: flex;
  justify-content: space-between;
  border: 5px solid cyan;
  border-radius: 5px;
  margin: 75px;
}

.contact div {
  margin: auto;
}