h1 {
  color: cyan;
  margin: 20px;
  width:500px;
}
body{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #191b1c;
}
div {
  border: 5px solid cyan;
  border-radius: 5px;
  margin: 2px;
}

form,
label,
input,
select,
textarea,
button {
  margin: 10px;
  width:350px;
}

label{
  color:white;
}
